.header{
    font-family:monospace;
    font-size:50px;
    color:#EE1289;
    background-color:black;
    font-style:bold;
}
.paragraph{
    text-align:center;
    font-family:monospace;
    font-size:30px;
    color:white;
    background-color:black;
}
.listitems{
    text-align:center;
    font-family:monospace;
    font-size:30px;
    color:white;
    background-color:black;
}
body{
    background-color:#ff80ab;
}
.images{
    border-style:double;
    border-color:#e91e63;
    border-width: 7pt;
}
.iframestyle{
    border-style:double;
    border-color:#e91e63;
    border-width: 7pt;
    float:right;
    margin-right:70px;
}
