.header{
    font-family:monospace;
    font-size:50px;
    color:#39FF14;
    background-color:black;
    font-style:bold;
}
.paragraph{
    text-align:center;
    font-family:monospace;
    font-size:30px;
    color:white;
    background-color:black;
    border-style:double;
    border-color:#e91e63;
    border-width:15px;
}
.listitems{
    text-align:center;
    font-family:monospace;
    font-size:30px;
    color:white;
    background-color:black;
    border-style:double;
    border-color:#39FF14;
    border-width:8px;
}
body{
    background-color:#ff80ab;
}
.images{
    border-style:double;
    border-color:#e91e63;
    border-width: 10pt;
}
.iframestyle{
    border-style:double;
    border-color:#e91e63;
    border-width: 10pt;
    float:right;
    margin-right:70px;
}
.songs{
text-align:center;
font-family:monospace;
font-size:30px;
color:white;
background-color:black;
border-style:double;
border-color:#e91e63;
border-width:20px;
}
p {
    display:inline-block
}
